aiohttp>=3.13.3
bcrypt==4.0.1
celery==5.6.2
celery-redbeat==2.3.3
certifi==2023.11.17
datadog-api-client==2.31.0
Flask==3.0.0
flask-cors==4.0.2
flower==2.0.1
gunicorn==22.0.0
phonenumbers==8.13.44
protobuf==6.33.5
pydantic>=2.6.0,<2.10.0
PyJWT==2.8.0
pymongo[srv]==3.12
python-dotenv==1.0.1
PyYAML==6.0.1
redis==7.1.0
requests==2.31.0
sendgrid==6.11.0
tomli==2.0.1
twilio==9.2.4
urllib3>=2.6.3
waitress==3.0.1
